<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TravisTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BB4C8172398AC2100A0BBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BB4C82D2398AC2400A0BBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BB4C8382398AC2400A0BBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
